# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/

# SQLite data (created on first run)
*.db
*.db-journal

# Node / Vite
node_modules/
dist/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
